<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="jumbotron" *ngIf="!activeUser; else alreadyLoggedin">
			<h2>
				Login
			</h2>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="name">
						E-mail
					</label>
					<input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
					<div *ngIf="submitted && form.name.errors" class="invalid-feedback">
						<div *ngIf="form.name.errors.required">
							Username is required
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="password">
						Password
					</label>
					<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
					<div *ngIf="submitted && form.password.errors" class="invalid-feedback">
						<div *ngIf="form.password.errors.required">
							Password is required
						</div>
					</div>
				</div>
				<div class="form-group">
					<button [disabled]="loading" class="btn btn-primary">
						Login
					</button>
				</div>
			</form>
		</div>
		<ng-template #alreadyLoggedin>
			<div class="jumbotron">
				<h3>
					You are already logged in.
				</h3>
				<button type="button" class="btn btn-primary" (click)="onLogout()">
					Logout
				</button>
			</div>
		</ng-template>
	</div>
</div>
