<div class="jumbotron">
	<h1>
		Currencies
	</h1>
	<div class="currencyComponents" *ngFor="let currencyValues of currencyValuesList">
		<currency-pln>
			{{ currencyValues.currency }}/PLN
			<b *ngIf="currencyValues.currency == 'BTC'; else normalPrint" style="color: #FFFF00">
				{{ currencyValues.bidValue | number: '1.2-2' }}
			</b>
			<ng-template #normalPrint>
				<b>
					{{ currencyValues.bidValue | number: '1.2-2' }}
				</b>
			</ng-template>
		</currency-pln>
		<currency-usd>
			{{ currencyValues.currency }}/USD
			<b bidValueRef *ngIf="currencyValues.currency == 'BTC'; else normalPrintUSD" style="color: #FFFF00">
				{{ currencyValues.bidValue }}
			</b>
			<ng-template #normalPrintUSD>
				<b bidValueRef>
					{{ currencyValues.bidValue }}
				</b>
			</ng-template>
		</currency-usd>
	</div>
</div>
