@green: #29f3c3;
@white: #fafafa;
@black: #212121;

.text-box(@background-color; @height; @width) {
	background-color: @background-color;
	height: @height;
	width: @width;
}

.container {
	margin-top: 3rem;
	text-align: center;
}
