<div class="jumbotron">
	<h1>
		Features
	</h1>
	<h4>
		<a [routerLink]="['/features/currencies']" queryParamsHandling="preserve">
			Currencies
		</a>
	</h4>
	<button type="button" class="btn btn-primary" (click)="onLogout()">
		Logout
	</button>
</div>
